#### @Michael Muller - Data Analyst Candidate - mg.muller@outlook.com
#### Notes:
- Cohorts did not match a budget or campaign with nekpho in name, excluded from analysis

In [29]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import warnings
# Preferences
warnings.filterwarnings('ignore')
#plt.rcParams["figure.figsize"]=20,20 # Use this line to make graphs bigger
sns.set(style="whitegrid")
pd.set_option("display.max_rows", 125)
import sqlite3
conn = sqlite3.connect(':memory:')

In [20]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://####:#######!@field-day.ch3v8le1upuk.us-east-2.rds.amazonaws.com:####/postgres')
connection = engine.raw_connection()

## No schema raw tables import

In [30]:
campaigns_raw = pd.read_csv('campaigns.csv',index_col=[0])
costs_raw = pd.read_csv('cost.csv',index_col=[0])
budget_raw = pd.read_csv('budget.csv',index_col=[0])
clicks_raw = pd.read_csv('clicks.csv')
cohorts_raw = pd.read_csv('cohorts.csv',index_col=[0])
suppliers_raw = pd.read_csv('supplier.csv',index_col=[0])
impressions_raw = pd.read_csv('impressions.csv')
marketed_custom_actions_raw = pd.read_csv('marketed_custom_action.csv')
all_purchase_raw = pd.read_csv('all_purchase.csv')

In [31]:
#verified_campaign_by_spend_table
vc = [17422,
17479,
20614,
20615,
20616,
20617,
21319,
21320,
21562,
21563,
17519,
17520,
20610,
20612,
21317,
21318,
21564,
21565]

Start to build a full recap of the retargeting campaign Adikteev ran with the client (Nekpho) (spend, performance, …at different level) – it will help you to have a good understanding / view of the campaign

## Campaign table

In [32]:
campaigns = campaigns_raw[5:]
campaigns = campaigns[~campaigns['campaign_name'].str.contains('|'.join(['Test','TEST','test']))]
campaigns = campaigns[campaigns['campaign_name'].str.contains('|'.join(['nekpho']))]
#Removed test campaigns and non-nekpho related (no index reset)
campaigns = campaigns[['campaign_id','campaign_name','start_date','end_date','line_item_id']]
#Removed irrelevant features
campaigns['start_date'] = campaigns['start_date'].apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
campaigns['end_date'] = campaigns['end_date'].apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
campaigns['budget'] = campaigns['line_item_id'].apply(lambda x: 60000 if x in [43,44] else None)
#Corrected data  types
campaigns.head(1)
#Display first row

,campaign_id,campaign_name,start_date,end_date,line_item_id,budget
19,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000

## Cost Table

In [33]:
costs = costs_raw
costs['start_date'] = costs['start_date'].apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
costs['end_date'] = costs['end_date'].apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
costs.columns = ['campaign_id','client_cost','cost_start_date','cost_end_date']
costs.to_csv('c_costs.csv')
#update Dtypes and names
costs.head(1)

   campaign_id  client_cost cost_start_date cost_end_date
1        17391         0.38      2017-07-12    2099-12-31

## Budget table

In [34]:
budgets = budget_raw
budgets['budget_start_date'] = budgets['budget_start_date'] .apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
budgets['budget_end_date']  = budgets['budget_end_date'] .apply(lambda x: pd.to_datetime(x) if x != '0000-00-00 00:00:00' else None)
budgets.head(1)

,line_item_id,line_item_budget_name,budget_start_date,budget_end_date,client_budget
1,43,August-Oct,2018-08-01,2018-10-31,60000

## Found that cohorts don't match the specified campaigns, and budgets is largely irrelevant

In [35]:
agg_cost_sequence = campaigns.merge(costs,how='left',on='campaign_id')

agg_cost_sequence['budget'] = agg_cost_sequence['line_item_id'].apply(lambda x: 60000 if x in [43,44] else None)

campaigns_focused = agg_cost_sequence[agg_cost_sequence['campaign_id'].isin(vc)]

mystery_campaigns = agg_cost_sequence[~agg_cost_sequence['campaign_id'].isin(vc)]['campaign_id'].unique()
verified_campaigns_with_cost = agg_cost_sequence[agg_cost_sequence['campaign_id'].isin(vc)]['campaign_id'].unique()

In [36]:
print('Mystery Campaigns ', mystery_campaigns)
print('-------------------------------------------------------------')
print('Verified Campaigns with cost', verified_campaigns_with_cost)

Mystery Campaigns  [20611 20613]
-------------------------------------------------------------
Verified Campaigns with cost [20610 20612 20614 20615 20616 20617 21317 21318 21319 21320 21562 21563
 21564 21565]

## Purchase table

In [37]:
all_purchase_raw
att_purchase = all_purchase_raw[all_purchase_raw['clickid'].notna()]
org_purchase = all_purchase_raw[all_purchase_raw['clickid'].isna()]
att_purchase.head(1)

,timestamp,actionid,os,plain,clickid,attributionid,sessionid,language,isorganic,name,currency,revenue,city,country,dt,hr
146,1538347004,Ttb2sMUBEeiAHWuvjYMJ4g,IOS,953f5b879d796fe9990dfaace174afd9ee1ea455,_KJkcMQyEeihGweSCecPMg,44f6409561f5fd8aa4d296bb552a004b,1461505975000-7848190,NaN,NaN,af_purchase,NaN,0.0,NaN,US,2018-09-30,22

### Clicks table

In [38]:
clicks = clicks_raw[['timestamp','actionid','os','campaignid','name','bidrequestid','city','dt','hr']]
clicks['event_at'] =  pd.to_datetime(clicks['timestamp'],unit='s')

clicks.head(1)

,timestamp,actionid,os,campaignid,name,bidrequestid,city,dt,hr,event_at
0,1538316377,mhoDMMS5EeiXK8tZrtvMGg,ANDROID,20616,rich_media_thredup_carrousel,c821ae9e-d9af-41e4-b4bf-84c26d0b511d,NaN,2018-09-30,14,2018-09-30 14:06:17

## Impressions table

In [39]:
impressions_raw.columns
impressions = impressions_raw[['timestamp','actionid','os','campaignid','name','bidrequestid','city','dt','hr']]
impressions['event_at'] =  pd.to_datetime(impressions['timestamp'],unit='s')
impressions.head(1)

,timestamp,actionid,os,campaignid,name,bidrequestid,city,dt,hr,event_at
0,1538348495,wI5DUsUEEei7eP2lc9pyJQ,ANDROID,21320,1200x627_V3,1f6529aa-9039-4a41-86d2-91542f7ec308,NaN,2018-09-30,23,2018-09-30 23:01:35

In [230]:

#lowest level granularity aggregation
#Consider 'name' feature - Repeat customers vs new


level_1  = att_purchase.groupby('dt', as_index=False)['revenue'].sum()
level_1 = level_1.merge(att_purchase.groupby('dt').count()['timestamp'],how='left',on='dt')
level_1 = level_1.merge(org_purchase.groupby('dt').sum()['revenue'],how='left',on='dt')
level_1 = level_1.merge(org_purchase.groupby('dt').count()['timestamp'],how='left',on='dt')
level_1.columns = ['date','att_rev','att_purch','org_rev','org_purch']
level_1.head(5)

         date      att_rev  att_purch        org_rev  org_purch
0  2018-08-01  1070.339997         23  170413.549828       2877
1  2018-08-02  1108.849999         17  171158.550140       2791
2  2018-08-03   885.229999         23  191773.539818       3012
3  2018-08-04  1628.050004         19  189287.810067       2941
4  2018-08-05  1383.549993         23  173309.859879       2521

In [114]:
impressions.head(10)

,timestamp,actionid,os,campaignid,name,bidrequestid,city,dt,hr,event_at
0,1538348495,wI5DUsUEEei7eP2lc9pyJQ,ANDROID,21320,1200x627_V3,1f6529aa-9039-4a41-86d2-91542f7ec308,NaN,2018-09-30,23,2018-09-30 23:01:35
1,1538348532,3Zs-gMUEEeiva4_raX0ARQ,ANDROID,20616,Carousel_V2_0813,034cd3d8-168b-4588-9027-3bc94a6a5bb5,NaN,2018-09-30,23,2018-09-30 23:02:12
2,1538348541,4oFdMMUEEeiv_o_raX0ARQ,IOS,21318,1200x627_V2,42a02582-4ad6-448f-a65a-6cbf10f62bf2,Napa,2018-09-30,23,2018-09-30 23:02:21
3,1538348647,IdWFsMUFEei2FI_raX0ARQ,IOS,20612,SummerDress_Carousel_0726,22976dbc-aaf2-4add-874f-15fc7398e874,NaN,2018-09-30,23,2018-09-30 23:04:07
4,1538348660,Ir-XksUFEei7aR_ECh82sA,ANDROID,20615,300x250,95ec1647-0ea4-4f0d-af2d-f7435c996145,NaN,2018-09-30,23,2018-09-30 23:04:20
5,1538348736,0qqQQsUCEeijU09EBKqzdw,ANDROID,21320,1200x627_V3,0e1f0770-73cb-41fe-a4c9-28f2a7f9ef8c,Somerville,2018-09-30,23,2018-09-30 23:05:36
6,1538348748,XbticsUFEeiqMz88pq38RQ,ANDROID,20617,300x250,80614cf0-8b32-44de-9623-c13cf868d720,Elizabeth,2018-09-30,23,2018-09-30 23:05:48
7,1538348808,gb8M0MUFEeicYjvpe_0e0A,ANDROID,20616,Carousel_V2_0813,27bdd6da-7444-4948-8979-f50640549293,Sacramento,2018-09-30,23,2018-09-30 23:06:48
8,1538348997,8oY0cMUFEeinWTvpe_0e0A,IOS,21318,1200x627_V2,9396bfe0-137c-4f03-9362-1819ede7c555,NaN,2018-09-30,23,2018-09-30 23:09:57
9,1538349052,EzKdgMUGEeiNWo_raX0ARQ,ANDROID,20614,rich_media_thredup_carrousel,c16dc4e7-2c64-48ef-8f5b-febbe49c29a6,NaN,2018-09-30,23,2018-09-30 23:10:52

In [40]:
campaigns_focused.sort_values(['campaign_id','cost_start_date']).head(10)

,campaign_id,campaign_name,start_date,end_date,line_item_id,budget,client_cost,cost_start_date,cost_end_date
0,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.38,2018-04-10,2018-07-24
1,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.60,2018-07-24,2018-07-26
2,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.70,2018-07-26,2018-08-15
3,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.80,2018-08-15,2018-09-04
4,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.30,2018-09-04,2018-09-14
5,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.10,2018-09-14,2018-09-17
6,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.80,2018-09-17,2018-09-20
7,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.00,2018-09-20,2018-09-27
8,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.40,2018-09-27,2099-12-31
10,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.38,2018-04-10,2018-04-13

In [297]:
clicks_and_purchases = pd.merge(all_purchase_raw,clicks,how='outer',left_on='clickid',right_on='actionid')
#clicks_and_purchases[clicks_and_purchases['clickid'].notna() & clicks_and_purchases['actionid_y'].notna()]

In [305]:
cpi = pd.merge(clicks_and_purchases,impressions,how='outer',left_on='bidrequestid',right_on='bidrequestid')

In [311]:
clicks_and_purchases.shape

(225814, 26)

In [ ]:
impressions.to_sql('impressions',conn,index=False)

campaigns_focused.to_sql('campaigns',conn,index=False)

clicks.to_sql('clicks',conn,index=False)

all_purchase_raw.to_sql('purchases',conn,index=False)

In [79]:
all_purchase_raw.columns

Index(['timestamp', 'actionid', 'os', 'plain', 'clickid', 'attributionid',
       'sessionid', 'language', 'isorganic', 'name', 'currency', 'revenue',
       'city', 'country', 'dt', 'hr'],
      dtype='object')

In [85]:
query = '''

SELECT
purchases.dt as "date",
purchases.os as "os",
purchases.hr as "ihr",
clicks.hr as "chr",
impressions.campaignid as "campaign_id",
impressions.bidrequestid as "bidrequest_id",
impressions.actionid as "action_id",
campaigns.client_cost,
purchases.revenue as "revenue",
CASE WHEN purchases.name = 'af_purchase' THEN 0 ELSE 1 END as "first_purchase",
CASE WHEN campaigns.campaign_id is not null THEN 1 ELSE 0 END as "is_subject"

FROM purchases

LEFT JOIN clicks
ON clicks.actionid = purchases.clickid

LEFT JOIN impressions 
ON impressions.bidrequestid = clicks.bidrequestid

LEFT JOIN campaigns 
ON campaigns.campaign_id = impressions.campaignid
AND impressions.dt BETWEEN campaigns.cost_start_date AND campaigns.cost_end_date

WHERE purchases.clickid is not null


'''

In [13]:
query = '''

SELECT
impressions.dt as "date",
campaigns.campaign_name as "campaign_name",
COUNT(DISTINCT clicks.bidrequestid) as "click_frequency",
COUNT(DISTINCT impressions.bidrequestid) as "impression_frequency",
"click_frequency" / "impression_frequency" as "CTR"

FROM impressions

LEFT JOIN clicks on impressions.bidrequestid = impressions.bidrequestid

LEFT JOIN campaigns 
ON campaigns.campaign_id = impressions.campaignid
AND impressions.dt BETWEEN campaigns.cost_start_date AND campaigns.cost_end_date

GROUP BY 1,2

'''

In [64]:
query = '''

SELECT
impressions.dt as "date",
impressions.os as "os",
impressions.hr as "ihr",
clicks.hr as "chr",
CASE WHEN clicks.hr is not null THEN 1 ELSE 0 END as "has_click",
impressions.campaignid as "campaign_id",
impressions.bidrequestid as "bidrequest_id",
impressions.actionid as "action_id",
CASE WHEN campaigns.campaign_id is not null THEN 1 ELSE 0 END as "is_subject",
campaigns.client_cost as "spend"

FROM impressions

LEFT JOIN clicks 
ON impressions.bidrequestid = clicks.bidrequestid

LEFT JOIN campaigns 
ON campaigns.campaign_id = impressions.campaignid
AND impressions.dt BETWEEN campaigns.cost_start_date AND campaigns.cost_end_date

'''

In [56]:
campaigns_focused

,campaign_id,campaign_name,start_date,end_date,line_item_id,budget,client_cost,cost_start_date,cost_end_date
0,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.38,2018-04-10,2018-07-24
1,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.60,2018-07-24,2018-07-26
2,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.70,2018-07-26,2018-08-15
3,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.80,2018-08-15,2018-09-04
4,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.30,2018-09-04,2018-09-14
5,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.10,2018-09-14,2018-09-17
6,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.80,2018-09-17,2018-09-20
7,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.00,2018-09-20,2018-09-27
8,20610,nekpho_US_ios_ham1-5 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.40,2018-09-27,2099-12-31
10,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.38,2018-04-10,2018-04-13
11,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,0.80,2018-04-13,2018-05-09
12,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.00,2018-05-09,2018-07-19
13,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.00,2018-07-19,2018-08-24
14,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.20,2018-08-24,2018-09-04
15,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.40,2018-09-04,2018-09-19
16,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.50,2018-09-19,2018-09-24
17,20612,nekpho_US_ios_ham6-8 - Carousel,2017-07-25,2018-09-01,44.0,60000,1.60,2018-09-24,2099-12-31
21,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.38,2018-04-10,2018-04-13
22,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.40,2018-04-13,2018-06-08
23,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.60,2018-06-08,2018-07-16
24,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.40,2018-07-16,2018-07-17
25,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.80,2018-07-17,2018-08-08
26,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.80,2018-08-08,2018-09-04
27,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.00,2018-09-04,2018-09-14
28,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.70,2018-09-14,2018-09-17
29,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.60,2018-09-17,2018-09-24
30,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.80,2018-09-24,2018-10-12
31,20614,nekpho_US_and_ham1-5 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.60,2018-10-12,2099-12-31
32,20615,nekpho_US_and_ham1-5 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.38,2018-04-10,2018-04-13
33,20615,nekpho_US_and_ham1-5 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.40,2018-04-13,2018-06-08
34,20615,nekpho_US_and_ham1-5 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.50,2018-06-08,2018-08-08
35,20615,nekpho_US_and_ham1-5 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.80,2018-08-08,2099-12-31
36,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.38,2018-04-10,2018-04-13
37,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.80,2018-04-13,2018-07-16
38,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.00,2018-07-16,2018-07-17
39,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.20,2018-07-17,2018-07-26
40,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.35,2018-07-26,2018-08-20
41,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.20,2018-08-20,2018-09-04
42,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.40,2018-09-04,2018-09-05
43,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.20,2018-09-05,2018-09-06
44,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,1.00,2018-09-06,2018-10-12
45,20616,nekpho_US_and_ham6-8 - Carousel,2017-07-24,2018-09-01,43.0,60000,0.80,2018-10-12,2099-12-31
46,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.38,2018-04-10,2018-04-13
47,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,0.80,2018-04-13,2018-07-26
48,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,1.00,2018-07-26,2018-08-08
49,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,1.10,2018-08-08,2018-09-04
50,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,1.30,2018-09-04,2018-10-12
51,20617,nekpho_US_and_ham6-8 - Static ads,2017-07-07,2018-09-01,43.0,60000,1.00,2018-10-12,2099-12-31
52,21317,nekpho_US_ios_ham1-5 - Native,2017-07-25,2018-09-01,44.0,60000,0.60,2018-05-09,2018-08-24
53,21317,nekpho_US_ios_ham1-5 - Native,2017-07-25,2018-09-01,44.0,60000,0.90,2018-08-24,2018-09-06
54,21317,nekpho_US_ios_ham1-5 - Native,2017-07-25,2018-09-01,44.0,60000,1.00,2018-09-06,2018-10-12
55,21317,nekpho_US_ios_ham1-5 - Native,2017-07-25,2018-09-01,44.0,60000,0.60,2018-10-12,2099-12-31
56,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,0.60,2018-05-09,2018-07-26
57,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,0.85,2018-07-26,2018-08-02
58,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,1.00,2018-08-02,2018-08-24
59,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,1.30,2018-08-24,2018-09-04
60,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,1.50,2018-09-04,2018-09-20
61,21318,nekpho_US_ios_ham6-8 - Native,2017-07-25,2018-09-01,44.0,60000,1.70,2018-09-20,2099-12-31
62,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.40,2018-05-09,2018-06-08
63,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.60,2018-06-08,2018-08-08
64,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.40,2018-08-08,2018-08-20
65,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.60,2018-08-20,2018-09-04
66,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.80,2018-09-04,2018-09-17
67,21319,nekpho_US_and_ham1-5 - Native,2017-07-07,2018-09-01,43.0,60000,0.70,2018-09-17,2099-12-31
68,21320,nekpho_US_and_ham6-8 - Native,2017-07-07,2018-09-01,43.0,60000,0.80,2018-05-09,2018-07-16
69,21320,nekpho_US_and_ham6-8 - Native,2017-07-07,2018-09-01,43.0,60000,1.00,2018-07-16,2018-07-26
70,21320,nekpho_US_and_ham6-8 - Native,2017-07-07,2018-09-01,43.0,60000,1.20,2018-07-26,2018-08-08
71,21320,nekpho_US_and_ham6-8 - Native,2017-07-07,2018-09-01,43.0,60000,1.00,2018-08-08,2018-09-14
72,21320,nekpho_US_and_ham6-8 - Native,2017-07-07,2018-09-01,43.0,60000,0.80,2018-09-14,2099-12-31
73,21562,nekpho_US_and_ham1-5 - Carousel [7PM-11PM],2017-07-24,2018-09-01,43.0,60000,0.40,2018-05-23,2099-12-31
74,21563,nekpho_US_and_ham6-8 - Carousel - [7PM-11PM],2017-07-24,2018-09-01,43.0,60000,0.80,2018-05-23,2099-12-31
75,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.38,2018-05-23,2018-07-24
76,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.50,2018-07-24,2018-07-26
77,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.65,2018-07-26,2018-08-23
78,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.75,2018-08-23,2018-09-05
79,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.65,2018-09-05,2018-09-06
80,21564,nekpho_US_ios_ham1-5 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,1.00,2018-09-06,2099-12-31
81,21565,nekpho_US_ios_ham6-8 - Carousel - [7PM-11PM],2017-07-25,2018-09-01,44.0,60000,0.80,2018-05-23,2099-12-31

In [65]:
df = pd.read_sql(query,conn)

In [102]:
g = df.groupby(['date','campaign_id'],as_index=False)['bidrequest_id'].count()
g = g.merge( df.groupby(['date','campaign_id'],as_index=False)['has_click'].sum(),how='left',on=['date','campaign_id'] )
g = g.merge( df.groupby(['date','campaign_id'],as_index=False)['spend'].sum(),how='left',on=['date','campaign_id'] )
g.columns = ['date','campaign_id','impressions','clicks','spend']


p = purchase_df.groupby(['date','campaign_id'],as_index=False)['action_id'].count() #purchases
p = p.merge( purchase_df.groupby(['date','campaign_id'],as_index=False)['revenue'].sum(),how='left',on=['date','campaign_id'] ) #revenue
p = p.merge( purchase_df.groupby(['date','campaign_id'],as_index=False)['first_purchase'].sum(),how='left',on=['date','campaign_id'] ) #first_purchase
p.columns = ['date','campaign_id','purchases','revenue','first_purchases']


stats = g.merge(p,how='left',on=['date','campaign_id'])

stats['ROAS'] = stats['revenue'] / stats['spend']
stats['CPA'] = stats['spend'] / stats['purchases']
stats['CTR'] = stats['clicks'] / stats['impressions']

daily_stats = stats

In [120]:
g = df.groupby(['campaign_id'],as_index=False)['bidrequest_id'].count()
g = g.merge( df.groupby(['campaign_id'],as_index=False)['has_click'].sum(),how='left',on=['campaign_id'] )
g = g.merge( df.groupby(['campaign_id'],as_index=False)['spend'].sum(),how='left',on=['campaign_id'] )
g.columns = ['campaign_id','impressions','clicks','spend']


p = purchase_df.groupby(['campaign_id'],as_index=False)['action_id'].count() #purchases
p = p.merge( purchase_df.groupby(['campaign_id'],as_index=False)['revenue'].sum(),how='left',on=['campaign_id'] ) #revenue
p = p.merge( purchase_df.groupby(['campaign_id'],as_index=False)['first_purchase'].sum(),how='left',on=['campaign_id'] ) #first_purchase
p.columns = ['campaign_id','purchases','revenue','first_purchases']


stats = g.merge(p,how='left',on=['campaign_id'])

In [117]:
campaign_ids = [20614,
20615,
20616,
20617,
21319,
21320,
21562,
21563,
20610,
20612,
21317,
21318,
21564,
21565]
campaign_spend = [7798.70,
2124.60,
10449.70,
2548.90,
2313.70,
2027.00,
254.00,
416.00,
5250.00,
16615.00,
319.00,
1335.80,
632.50,
248.00]

In [118]:
mm = pd.DataFrame({'campaign_id':campaign_ids,'campaign_spend':campaign_spend})

In [121]:
stats = stats.merge(mm,how='left',on='campaign_id')

In [131]:
stats['ROAS'] = stats['revenue'] / stats['campaign_spend']
stats['CPA'] = stats['campaign_spend'] / stats['purchases']
stats['CTR'] = stats['clicks'] / stats['impressions']
stats['AOV'] = stats['revenue'] / stats['purchases'] 
stats['NLTV'] = stats['AOV'] - stats['CPA']

In [132]:
stats.sort_values(['ROAS'],ascending=False)

,campaign_id,impressions,clicks,spend,purchases,revenue,first_purchases,campaign_spend,ROAS,CPA,CTR,AOV,NLTV
5,20617,270798,3619,313942.000001,828,24056.720000,5,2548.9,9.438079,3.078382,0.013364,29.054010,25.975628
10,21562,8139,843,3255.600000,19,1008.470000,7,254.0,3.970354,13.368421,0.103575,53.077368,39.708947
13,21565,7415,311,5932.000000,4,794.630001,0,248.0,3.204153,62.000000,0.041942,198.657500,136.657500
11,21563,6461,877,5168.800000,17,1249.420000,1,416.0,3.003413,24.470588,0.135738,73.495294,49.024706
4,20616,110316,12713,133338.300000,324,23003.080000,25,10449.7,2.201315,32.252160,0.115242,70.997160,38.745000
7,21318,270430,1714,364400.549999,34,2445.660005,0,1335.8,1.830858,39.288235,0.006338,71.931177,32.642941
6,21317,70458,734,60096.100000,7,484.000010,0,319.0,1.517241,45.571429,0.010418,69.142859,23.571430
9,21320,202081,2203,195316.600000,37,3060.280000,3,2027.0,1.509758,54.783784,0.010902,82.710270,27.926486
12,21564,20608,846,16384.650000,11,881.570014,0,632.5,1.393787,57.500000,0.041052,80.142729,22.642729
8,21319,282228,3815,183723.100001,39,3033.400000,11,2313.7,1.311060,59.325641,0.013517,77.779487,18.453846
1,20612,345467,15214,423326.700000,279,19086.229979,4,16615.0,1.148735,59.551971,0.044039,68.409426,8.857455
2,20614,118057,11896,94898.400000,141,7927.070000,34,7798.7,1.016460,55.309929,0.100765,56.220355,0.910426
3,20615,338570,3685,251750.799999,23,1931.880000,3,2124.6,0.909291,92.373913,0.010884,83.994783,-8.379130
0,20610,89129,5677,85676.900000,60,3999.449992,1,5250.0,0.761800,87.500000,0.063694,66.657500,-20.842500

In [133]:
stats.to_csv('campaign_stats.csv',index=False)